registry=https://artifactory.bwinparty.corp/artifactory/api/npm/
strict-ssl=false
_auth = a3VyYXBhdGkucHJpeWE6QVAzYlhOSm5aRW14ZWJ6TXJZYllzUXFMa000
email = Kurapati.Priya@ivycomptech.com
always-auth = true